{% extends 'base.html' %}
{% block title %}
    Chats
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chats.css') }}">
{% endblock css %}

{% block content %}
<div id='chats-container'>
    <div id='chat-contacts'>
        {% for contacts in allcontacts %}
        <a href="/chats/{{contacts[1]}}">
            <div id="each-contact">
                {{ contacts[0] }}
            </div>
        </a>
        {% endfor %}
    </div>
    <div id='chat-area'>
        <div id='chat-area-scrollable'>
            {% for eachchat in chatdata %}
            <div id="each-msg"><span id="msg-sender">{{ eachchat[0] }}:</span>{{ eachchat[1] }}</div>
            {% endfor %}
        </div>
        <form action="" method="POST" id="msg-form">
            <input type='text' name="msgbox" id="msg-box" required autocomplete="off">
            <input type="submit" value="Send" id="send-btn">
        </form>
    </div>
</div>
{% endblock content %}