{% extends "base.html" %}
{% block title %}ZYXR{% endblock %}

{% block loginuser %}
    {% if token < 1 %}
        <button class="login" type="button" onclick="location.href='/login/'">LOGIN</button>
    {% endif %}
    {% if token >= 1 %}
        <b><a href='/u/'>{{username}}<sub>*</sub></a></b>
    {% endif %}
{% endblock  %}

{% block content %}
{% if token == 0 %}
<div style="width: 100%;border: 1px solid #303030;padding-left: 1vw;border-radius: 2vw;background-color: #303030;"><h2>Welcome User !!</h2></div>    
{% endif %}
    {% for x in thumb %}
        {% set z = 'listthumb/'+x+'.jpg' %}
        <div id='vid-grid-box'><a href='/list/{{x}}'><img id='vid-grid-img' src="{{url_for('static',filename=z)}}""><div id='vid-grid-text'>{{ lname[x][0] }}</div></a><div id="vid-grid-text2">{{ lname[x][1] }}₹</div></div>
    {% endfor %}
{% endblock %}

{%block nav %}
{% endblock %}

{% block rand %}
{% endblock %}