<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successful Login</title>
    <style>
        body{
            background-color: #303030;
            color: white;
            font: 14px Nanum Gothic,sans-serif;
        }
        a{
            color: yellow;
        }
        div{
            display: flex;
            justify-content: center;
            align-self: center;
            flex-direction: column;
            width: auto;
            height: 90vh;
        }
        h1,h2{
            text-align: center;
        }
    </style>
    <script>
        setTimeout(function(){window.location.href = '/u/';}, 100);
    </script>
</head>
<body>
    <div>
        <h1>Login Successful</h1>
        <h2>If it not automatically redirected <a href="/u/">click here</a></h2>
    </div>
</body>
</html>