{% extends 'base.html' %}
{% block title %}
    {{lname}}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/listing.css') }}">
{% endblock css %}

{% block video %}
<div id="list-box">
    {% set limgdisp = 'listthumb/'+lno+'.jpg' %}
    <div id="list-img-box"><a href="/i/{{lno}}.jpg"><img id="list-img" src="{{ url_for('static', filename=limgdisp) }}"></a></div>
    <div id="list-name">{{ lname }}<br><div id="list-auth">By {{lauth}}</div><div id="name-hr"></div></div>
    <div id="list-price">{{ lprice }}₹</div>
    <div id="list-optn">
        <button id="list-optn-btn" disabled="disabled">Chat</button>
        <button id="list-optn-btn" disabled="disabled">Buy Now</button>
    </div>
    <div id="list-features">
        <pre>{{ lfeature }}</pre>
    </div>
    <div id="list-specs">
        <h1><u>Specs</u></h1>
        <p><pre>{{ lspecs }}</pre></p>
    </div>
    <div id="list-addr">
        <h1><u>Address</u></h1>
        <p><pre>{{ laddr }}</pre></p>
    </div>
</div>
{% endblock video %}

{% block rand %}
{% endblock rand %}