{% extends 'base.html' %}

{% block title %}
    Create A New Listing
{% endblock title %}

{% block content %}
    <form action="#" method="POST">
        <p>
            Name of Listing:<br>
            <input type="text" name="" id="">
        </p>
        <p>
            Price:<br>
            <input type="number" name="" id="">
        </p>
        <p>
            Image of Listing:<br>
            <input type="file" name="" id="">
        </p>
        <p>
            Features of the Product:<br>
            <input type="text" name="" id="">
        </p>
        <p>
            Specification of the Product:<br>
            <input type="text" name="" id="">
        </p><p>
            Address of the product sale:<br>
            <input type="text" name="" id="">
        </p>

    </form>
{% endblock content %}

{% block rand %}
{% endblock rand %}