{% extends 'base.html' %}

{% block title %}
    Create A New Listing
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/newlisting.css') }}">
{% endblock css %}

{% block content %}
    <form action="" method="POST" id="listform" enctype="multipart/form-data">
        {{ lform.csrf_token() }}
        <p>
            Name of Listing:<br>
            {{ lform.lname }} <br><br>
            Price:<br>
            {{ lform.lprice }}
        </p>
        <p>
            Image of Listing:<br>
            <!--
                <input type="file" name="limg" required>
            -->
             {{ lform.limg }}
        </p>
        <p>
            Features of the Product:<br>
            {{ lform.lfeature }}
        </p>
        <p>
            Specification of the Product:<br>
            {{ lform.lspecs }}
        </p><p>
            Address of the product sale:<br>
            {{ lform.laddr }}
        </p>
        <p>
            {{ lform.lsubmit }}
        </p>
        <p>
        {% for field, errors in lform.errors.items() %}
        <small class="form-text text-muted ">
            {{ ', '.join(errors) }}
        </small>
        {% endfor %}
        </p>
    </form>
{% endblock content %}

{% block rand %}
{% endblock rand %}