{% extends "base.html" %}
{% block title %}ZYXR-Signup{% endblock %}
{% block content %}
<style>
    #vids{
        flex-direction: column;
        align-content: center;
    }
    .errors{
        color: rgba(255, 0, 0, 0.700);
    }

</style>
<div id=vids>
    <h1>Signup</h1>
    <form action="" method="post">
        {{ form.csrf_token() }}
        {{ form.username.label }} <br>
        {{ form.username }} <br>
        {{ form.errors.username }}<br>
        {{ form.dispname.label }} <br>
        {{ form.dispname }} <br><br>
        {{ form.paswd.label }} <br>
        {{ form.paswd }} <br><br>
        {{ form.submit }} <br>
        {% for field, errors in form.errors.items() %}
        <small class="errors">
            {{ ', '.join(errors) }}
        </small>
        {% endfor %}
</form>
<p id=err>{{err}}</p>
</div>
{% endblock %}